:root {
    --primaryColor: azure;
    --complementaryColor: lightblue;
}

* {
    border: solid 1px black;
    margin: 0px;
}

body {
    background-color: azure;
}

.header {
    display: flex;
    justify-content: space-around;
    background-color: var(--complementaryColor);
}

.headerLinks {
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerLink {
    margin-left: 40px;
    margin-right: 40px;
    color: black;
    text-decoration: none;
}

.infoBox {
    padding-left: 5vw;
    padding-right: 5vw;
    gap: 5vw;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto;
    justify-content: space-around;
    padding-top: 50px;
}

.calcBox {
    height: 500px;
    display: grid;
}

.headerTitle {
    font-size: 30px;
}

.rawDiv {
    margin-top: 1em;
    font-size: 24px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
}

input {
    height: 24px;
}

.calcDoseBtn {
    height: 40px;
    width: 150px;
    border-radius: 15px;
    margin-top: 30px;
    align-self: center;
}

.resultsBox {
    display: flex;
    justify-content: space-around;
}

.pacDosage {
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.outputBox {
    font-size: 24px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#pacDosageOutput {
    min-height: 50px;
}

.saDosage {
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#saDosageOutput {
    min-height: 50px;
}